.container_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 82.4vh;
  width: 100%;
  border: 1px solid black;
}
app-home {
  display: flex;
  min-height: 100%;
}
