<button (click)="isCollapse()">{{ isCollapsed ? "Show" : "Close" }}</button>

<div *ngIf="!isCollapsed" class="container_gates">
  <h2>Joanne Rowling</h2>
  <img
    class="gates"
    src="https://m.media-amazon.com/images/S/amzn-author-media-prod/8cigckin175jtpsk3gs361r4ss.jpg"
    alt="Bill Gates"
  />
  <div class="typewriter">
    „Остроумие является величайшим сокровищем человека.“
  </div>
  <p class="about_gates">
    Джоа́н Ро́улинг (англ. Joanne Rowling; род. 31 июля 1965[5]), известная под
    псевдонимами Дж. К. Роулинг (J. K. Rowling)[6], Джоан Кэ́тлин Роулинг (англ.
    Joanne Kathleen Rowling) и Ро́берт Гелбре́йт (Robert Galbraith), — британская
    писательница, сценаристка и кинопродюсер, наиболее известная как автор серии
    романов о Гарри Поттере. Книги о Гарри Поттере получили несколько наград и
    были проданы в количестве более 500 миллионов экземпляров[7]. Они стали
    самой продаваемой серией книг в истории[8] и основой для серии фильмов,
    ставшей третьей по кассовому сбору серией фильмов в истории[9]. Джоан
    Роулинг сама утверждала сценарии фильмов[10], а также вошла в состав
    продюсеров последних двух частей[11]. Роулинг работала научной сотрудницей и
    секретарём-переводчиком «Международной амнистии», когда во время поездки на
    поезде из Манчестера в Лондон в 1990 году у неё появилась идея романа о
    Гарри Поттере[12]. В следующие семь лет умерла мать Роулинг, сама она
    развелась с первым мужем и жила в бедности, пока не опубликовала первый
    роман в серии, «Гарри Поттер и философский камень» (1997). Впоследствии она
    написала 6 сиквелов — а также 3 дополнения к этой серии. После этого Роулинг
    рассталась со своим агентством и начала писать для взрослых читателей,
    выпустив трагикомедию «Случайная вакансия» (2012) и (под псевдонимом «Роберт
    Гэлбрейт») криминальные романы: «Зов Кукушки» (2013), «Шелкопряд» (2014),
    «На службе зла» (2015), «Смертельная белизна» (2018) и «Дурная кровь»
    (2020). За пять лет Роулинг прошла путь от жизни на социальное пособие до
    статуса мультимиллионера. Она наиболее продающийся автор в Великобритании, с
    объёмом продаж более 238 миллионов фунтов стерлингов[13]. В 2008 году Sunday
    Times Rich List оценил состояние Роулинг в 560 млн фунтов, поставив её на
    12-е место в списке самых богатых женщин Великобритании[14]. Forbes в 2007
    году оценил Роулинг как 48-ю по влиятельности знаменитость[15], а журнал
    Time в 2007 году дал ей второе место в номинации «Человек года», отметив
    социальное, моральное и политическое вдохновение, которое она дала своим
    поклонникам[16]. В октябре 2010 года Роулинг была названа редакторами
    ведущих журналов «самой влиятельной женщиной в Британии»[17]. Она стала
    заметным филантропом, поддерживая такие организации как «Разрядка смехом»,
    Gingerbread[en], Multiple Sclerosis Society of Great Britain[en] и Lumos[en]
    (бывшая Children’s High Level Group).
  </p>
  <ul>
    <li>
      <a href="https://mybookshelf.com.ua/en/dzhoan-rouling" target="_blank"
        >mybookshelf</a
      >
    </li>
    <li>
      <a
        href="https://ru.wikipedia.org/wiki/%D0%A0%D0%BE%D1%83%D0%BB%D0%B8%D0%BD%D0%B3,_%D0%94%D0%B6%D0%BE%D0%B0%D0%BD"
        target="_blank"
        >wikipedia</a
      >
    </li>
    <li>
      <a href="https://stuki-druki.com/authors/Rowling.php" target="_blank"
        >stuki-druki</a
      >
    </li>
  </ul>
</div>
