<div class="container_gates">
  <h2>Bill Gates</h2>
  <img
    class="gates"
    src="https://static01.nyt.com/images/2021/05/17/business/14altGates-print/merlin_183135423_1167fa8a-7940-427e-b690-68876010d286-superJumbo.jpg?quality=75&auto=webp"
    alt="Bill Gates"
  />
  <div class="typewriter">
    „Выберите ленивого человека для выполнения трудной работы. Потому что
    ленивый человек найдет легкий способ eё выполнить.“
  </div>
  <p class="about_gates">
    Bill Gates, in full William Henry Gates III, (born October 28, 1955,
    Seattle, Washington, U.S.), American computer programmer and entrepreneur
    who cofounded Microsoft Corporation, the world’s largest personal-computer
    software company. Gates wrote his first software program at the age of 13.
    In high school he helped form a group of programmers who computerized their
    school’s payroll system and founded Traf-O-Data, a company that sold
    traffic-counting systems to local governments. In 1975 Gates, then a
    sophomore at Harvard University, joined his hometown friend Paul G. Allen to
    develop software for the first microcomputers. They began by adapting BASIC,
    a popular programming language used on large computers, for use on
    microcomputers. With the success of this project, Gates left Harvard during
    his junior year and, with Allen, formed Microsoft. Gates’s sway over the
    infant microcomputer industry greatly increased when Microsoft licensed an
    operating system called MS-DOS to International Business Machines
    Corporation—then the world’s biggest computer supplier and industry
    pacesetter—for use on its first microcomputer, the IBM PC (personal
    computer). After the machine’s release in 1981, IBM quickly set the
    technical standard for the PC industry, and MS-DOS likewise pushed out
    competing operating systems. While Microsoft’s independence strained
    relations with IBM, Gates deftly manipulated the larger company so that it
    became permanently dependent on him for crucial software. Makers of
    IBM-compatible PCs, or clones, also turned to Microsoft for their basic
    software. By the start of the 1990s he had become the PC industry’s ultimate
    kingmaker.
  </p>
  <ul>
    <li>
      <a href="https://www.britannica.com/biography/Bill-Gates" target="_blank"
        >britannica</a
      >
    </li>
    <li>
      <a
        href="https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D0%B9%D1%82%D1%81,_%D0%91%D0%B8%D0%BB%D0%BB"
        target="_blank"
        >wikipedia</a
      >
    </li>
    <li>
      <a href="https://www.forbes.com/profile/bill-gates/" target="_blank"
        >forbes</a
      >
    </li>
  </ul>
</div>
